In [2]:
import duckdb
import pandas as pd
import os
from datetime import datetime

In [3]:
con = duckdb.connect(database='dados_duckdb.db', read_only=False)

In [13]:
arquivo = 'z0019_2.csv'
data_ingestao = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
df = pd.read_csv(f'../landing/{arquivo}', sep=';')
df['nome_arquivo'] = arquivo
df['data_ingestao'] = data_ingestao
df.head()

,NARBR,MAKTX,WERKS,MAINS,LABST,nome_arquivo,data_ingestao
0,10003,PREGO,BT90,100,50,z0019_2.csv,2025-12-03 12:05:38
1,10004,SERRA,BT50,100,200,z0019_2.csv,2025-12-03 12:05:38
2,10005,MACHADO,BT60,100,100,z0019_2.csv,2025-12-03 12:05:38
3,10003,PREGO,BT200,100,50,z0019_2.csv,2025-12-03 12:05:38
4,10009,CHAVE DE FENDA,BT70,100,300,z0019_2.csv,2025-12-03 12:05:38

In [14]:
#ingestão dos arquivos na tabela bronze 
con .execute("""
    CREATE TABLE IF NOT EXISTS bronze_produtos (
        NARBR VARCHAR,
        MAKTX VARCHAR,
        WERKS VARCHAR,
        MAINS VARCHAR,
        LABST VARCHAR,
        nome_arquivo VARCHAR,
        data_ingestao TIMESTAMP)
""")

In [15]:
#Inserção dos dados do dataframe na tabela bronze
con.execute("Insert into bronze_produtos select * from df")

In [16]:
#validar conteúdo da tabela bronze
resultado = con.execute("select * from bronze_produtos").fetchdf()
print(resultado)

   NARBR           MAKTX  WERKS MAINS LABST nome_arquivo       data_ingestao
0  10001        PARAFUSO   BT10   100   150  z0019_1.csv 2025-12-03 12:00:26
1  10002           PORCA   BT20   100   250  z0019_1.csv 2025-12-03 12:00:26
2  10003           PREGO   BT30   100    50  z0019_1.csv 2025-12-03 12:00:26
3  10004           SERRA   BT40   100   200  z0019_1.csv 2025-12-03 12:00:26
4  10003           PREGO   BT90   100    50  z0019_2.csv 2025-12-03 12:05:38
5  10004           SERRA   BT50   100   200  z0019_2.csv 2025-12-03 12:05:38
6  10005         MACHADO   BT60   100   100  z0019_2.csv 2025-12-03 12:05:38
7  10003           PREGO  BT200   100    50  z0019_2.csv 2025-12-03 12:05:38
8  10009  CHAVE DE FENDA   BT70   100   300  z0019_2.csv 2025-12-03 12:05:38